<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.doctorinsta">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/maps_api_key"/>
        <activity android:name=".common_ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".doctor_ui.dashboard.DoctorDashboardActivity" />
        <activity android:name=".patient_ui.dashboard.PatientDashboardActivity" />
        <activity android:name=".patient_ui.auth.RegisterActivity" />
        <activity android:name=".patient_ui.booking.BookActivity" />
        <activity android:name=".patient_ui.auth.LoginActivity" />
        <activity android:name=".doctor_ui.auth.DoctorLoginActivity" />
        <activity android:name=".doctor_ui.auth.DoctorRegisterActivity" />
        <activity android:name=".doctor_ui.schedules.AddScheduleActivity" />
        <activity android:name=".common_ui.ForgotPasswordActivity" />
        <activity android:name=".patient_ui.maps.MapsActivity" />
        <activity android:name=".doctor_ui.auth.EditDoctorProfileActivity" />
        <activity android:name=".patient_ui.auth.EditPatientProfileActivity" />
    </application>

</manifest>